
.icon-book:before { content: '\e800'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */